APP_NAME =
APP_ENV =

DATABASE_URL = 
TEST_DATABASE_URL = 

SECRET_KEY = 
ALGORITHM = 
ACCESS_TOKEN_EXPIRE_MINUTES = 

CORS_ORIGINS = 
FRONTEND_URL = 

GOOGLE_CLIENT_IDS =
GOOGLE_JWKS_URL = 
APPLE_CLIENT_IDS =
APPLE_JWKS_URL =